.header
  background-color: orange;
  color: #FFFFFF;
  margin-top: 0px;
  padding: 15px;
  text-align: center;

.footer
  background-color: orange;
  bottom: 0;
  color: #FFFFFF;
  padding: 15px 0;
  position: fixed;
  text-align: center;
  width: 100%;